.registration-form {
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
  background-color: #3D3F51;
  max-width: 50%;
  margin: 10% auto 0;
}

.registration-form__input,
.registration-form__input--container {
  margin-bottom: 30px;
  width: 100%;
}

.registration-form__role-inputs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.registration-form__role-input-container {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .registration-form__role-inputs {
    display: flex;
    flex-direction: column;
  }
}

.registration-form__role-inputs input {
  margin-right: 10px;
}

.registration-form__role-header {
  margin-bottom: 20px;
  color: #B7BADF;
}

.registration-choose {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #3D3F51;
  max-width: 50%;
  margin: auto;
}

.registration-confirm {
  display: flex;
  padding: 50px;
  background-color: #3D3F51;
  max-width: 53%;
  margin: 7% auto 0;
  flex-grow: 100px;
}

.registration-confirm__icon {
  margin-right: 50px;
}

.registration-confirm__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #B7BADF;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.registration-confirm__resend-link {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: underline;
  transition: color .3s ease;
}

.registration-confirm__resend-link:hover {
  color: #B7BADF;
}

@media (max-width: 1000px) {
  .registration-confirm {
    flex-direction: column;
    align-items: center;
  }
  
  .registration-confirm__icon {
    margin: 0 0 50px 0;
  }

  .registration-confirm__header {
    text-align: center;
  }
}
.registration-form__role-input--main {
  display: none; 
}

.registration-form__role-label {
  position: relative;
  left: -25px;
  cursor: pointer;
  padding-left: 35px;
}

.registration-form__role-input--main + span {
  text-align: center;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #6C6E84;
}

.registration-form__role-input--main + span:before {
  content: url("../../assets/img/buttons/radio-checked.svg");
  position: relative;
  top: 2.5px;
  display: inline-block;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.registration-form__role-input--main:checked + span:before {
  opacity: 1;
}

.registration-form__role-input--secondary {
  display: none;
}

.registration-form__role-input--secondary + span {
  text-align: center;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 7px;
  background-color: #6C6E84;
  transition: background-color .3s ease-in-out;
}

.registration-form__role-input--secondary + span:before {
  content: url("../../assets/img/buttons/checkbox-checked.svg");
  position: relative;
  top: 2px;
  display: inline-block;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.registration-form__role-input--secondary:checked + span {
  background-color: #FFFFFF;
}

.registration-form__role-input--secondary:checked + span:before {
  opacity: 1;
}