.banner {
  position: relative;
  background-image: url(../../assets/img/slider/banner.jpg);
  width: 100%;
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position-x: left;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(19, 20, 28, 0.5);
}

.banner__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 70px;
}

.banner__content {
  position: relative;
  padding: 35px 25px;  
  text-align: center;
  z-index: 10;  
}

.banner__content > *{
  position: relative;
  z-index: 1;
}

.banner__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  padding: 0 20px;
  font-size: 20px;
  line-height: 1.25;
}

.banner__description {	
  max-width: 800px;
  margin: 0 auto 25px;
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
}

.banner__btn {	
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  color: #242632;
  text-decoration: none;
  background: #fff;
}

.banner__btn:hover {
  color: #242632;
}

@media (min-width: 576px) {
  .banner {
    background-position-x: center;
  }

  .banner__title {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .banner__container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .banner__content {
    padding: 70px 0;
  }

  .banner__title {
    font-size: 35px;
  } 

  .banner__description {	
    font-size: 18px;
    line-height: 1.2;
  }

  .banner__btn {
    padding: 16px 25px;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .banner__title {
    font-size: 40px;
  }

  .banner__description {	
    font-size: 20px;
    line-height: 25px;
  }

  .banner__btn {
    padding: 20px 30px;
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .banner__container {
    padding-top: 200px;
  }

  .banner__title {
    font-size: 50px;
  }  
}

@media (min-width: 1400px) {
  .banner__container {
    padding-top: 350px;
  }

  .banner__title {
    font-size: 60px;
    line-height: 73px;
  }
}
