.footer {
  background-color: #3d3f51;
  padding: 26px 0;

  @media (min-width: 768px) {
    margin-top: 35px;
    display: flex;
    align-items: center;
    height: 100px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
  }
}

.footer-menu{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
  align-items: center;

  @media (min-width: 768px) {
    margin: 0;
    width: 100%;
    flex-direction: row;
  }

  &__item {
    @media (min-width: 768px) {
      padding-right: 60px;
      margin: 0;

      &:not(:first-child) {
        margin-top: 0;
      }
    }

    @media (min-width: 992px) {padding-right: 85px;}
    @media (min-width: 1200px) {padding-right: 105px;}
    @media (min-width: 1366px) {padding-right: 125px;}

  }

  &__link {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    transition: color .3s ease;

    @media (min-width: 1366px) {font-size: 20px;}

    &:hover {
      color: #b7badf
    }
  }

  &__swg {
    width: 2.15em;
    height: 2em;
  }
}

.footer-social {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: none;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
    position: relative;
    bottom: 3px;
    left: 20px;
  }

  &__link {
    color: #9b9ca8;
    transition: color .3s ease;
    margin-top: 14px;

    &:hover {
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
