.footer {
  padding: 26px 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #3d3f51;
}

@media (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer-container {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer-menu {
    margin: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-menu__item {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer-menu__item {
    margin-bottom: 0;
    margin-right: 60px;
  }
}

@media (min-width: 992px) {
  .footer-menu__item {
    margin-right: 85px;
  }
}

@media (min-width: 1200px) {
  .footer-menu__item {
    margin-right: 105px;
  }
}

@media (min-width: 1400px) {
  .footer-menu__item {
    margin-right: 125px;
  }
}

.footer-menu__link {
  border-bottom: 2px solid transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.footer-menu__link:hover {
  border-bottom: 2px solid #f05700;
  color: currentColor;
}

@media (min-width: 992px) {
  .footer-menu__link {
    font-size: 20px;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 0 auto;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #9b9ca8;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.footer-social__link:hover, .footer-social__link:focus {
  color: #fff;
  background-color: #f05700;
  outline: none;
}

.footer-social__link:not(:last-child) {
  margin-right: 35px;
}
/*# sourceMappingURL=index.css.map */