.footer {
  background-color: #3d3f51;
  padding: 26px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-menu{
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer-menu {
  margin-bottom: 23px;
  align-items: center;
}


.footer-social {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: none;
  margin: 0 auto;
}

.footer-menu__link {
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  transition: color .3s ease;
}

.footer-menu__link:hover {
  color: #b7badf
}

.footer-menu__social {
  color: #9b9ca8;
  transition: color .3s ease;
}

.footer-menu__social:not(:last-child) {
  margin-right: 40px;
}

.footer-menu__item:not(:first-child) {
  margin-top: 14px;
}

.footer-menu__social:hover {
  color: #fff;
}


.footer-menu__swg {
  width: 2.15em;
  height: 2em;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 35px;
    display: flex;
    align-items: center;
    height: 100px;
  }

  .footer-container {
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer-menu {
    width: 100%;
  }

  .footer-menu{
    flex-direction: row;
  }

  .footer-menu,
  .footer-social {
    margin: 0;
  }

  .footer-menu__item {
    padding-right: 60px;
    margin: 0;
  }

  .footer-social {
    position: relative;
    bottom: 3px;
    left: 20px;
  }

  .footer-menu__item:not(:first-child) {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .footer-menu__item {
    padding-right: 85px;
  }
}

@media (min-width: 1200px) {
  .footer-menu__item {
    padding-right: 105px;
  }
}

@media (min-width: 1366px) {
  .footer-menu__item {
    padding-right: 125px;
  }

  .footer-menu__link {
    font-size: 20px;
  }
}

