.footer {
  padding: 26px 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #3d3f51;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 35px;
    height: 100px;
    align-items: center;    
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
  align-items: center;

  @media (min-width: 768px) {
    margin: 0;
    width: 100%;
    flex-direction: row;
  }

  &__item {
    margin-bottom: 10px;

    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 60px;      
    }

    @media (min-width: 992px) { margin-right: 85px; }
    @media (min-width: 1200px) { margin-right: 105px; }
    @media (min-width: 1400px) { margin-right: 125px; }
  }

  &__link {
    border-bottom: 2px solid transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    transition: color .3s ease;    

    &:hover {
      border-bottom: 2px solid #f05700;
      color: currentColor;      
    }

    @media (min-width: 992px) { font-size: 20px; }
  }
}

.footer-social {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: none;
  margin: 0 auto;

  &__link {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #9b9ca8;
    transition: background-color .4s ease;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #f05700;
      outline: none;
    }

    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
