.footer {
  padding: 20px 0 10px 0;
  background-color: #3d3f51;
}

.footer-menu {
  padding-left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.footer-menu__item {
  box-sizing: border-box;
  border: none;
}

.footer-menu__item--social {
  margin: 35px 0 0 5px!important;
  display: flex;
  height: 30px;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-menu__link {
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  transition: color .3s ease;
}

.footer-menu__link:hover {
  color: #b7badf
}

.footer-menu__social {
  margin: 8px 0 25px 0;
  color: #9b9ca8;
  transition: color .3s ease;
}

.footer-menu__social:not(:last-child) {
  margin-right: 40px;
}

.footer-menu__item:not(:first-child) {
  margin-top: 18px;
}

.footer-menu__social:hover {
  color: #fff;
}


.footer-menu__swg {
  width: 2.15em;
  height: 2em;
}

@media (min-width: 996px) {
  .footer {
    margin-top: 100px;
  }

  .footer-menu {
    flex-direction: row;
    padding-left: 8%;
  }

  .footer-menu__item {
    padding-right: 12px;
  }

  .footer-menu__item--social {
    padding-left: 33%;
    padding-right: 2%;
  }

  .footer-menu__item:not(:first-child) {
    margin-top: 0;
  }
}

@media (min-width: 1366px) {
  .footer-menu__link {
    font-size: 20px;
  }
}

