.popup__dialog {
  max-width: 630px;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  padding: 30px 45px;
}

.popup__body {
  padding: 0 45px 10px;
}

.popup__footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px 45px;
}

.popup__label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF
}

.popup__label:first-of-type {
  margin-bottom: 7px;
}

.popup__link {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  transition: color .3s ease;
  border-bottom: solid #B7BADF 2px;
}

.popup__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*.popup__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #B7BADF;
  max-width: 330px;
}*/

.popup__link:hover {
  color: #B7BADF;
}

.popup__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #B7BADF;
}

.popup__input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.popup__container {
  display: inline-block;
}

.popup__button {
  width: 145px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: 20px 30px;
}

.close {
  border: none;
  background: transparent;
  outline: none;
}

.close:active,
.close:hover {
  border: none;
  outline: none;
}

.ReactModal__Content {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

@media (max-width: 768px) {
  .popup__title {
    font-size: 18px;
  }

  .popup__header {
    padding: 20px 30px;
  }

  .popup__input {
    margin-bottom: 20px!important;
  }

  .popup__body {
    padding-bottom: 0;
  }

}

@media (max-width: 376px) {
  .popup__header {
    padding: 15px 20px;
  }

  .popup__label,
  .popup__link {
    font-size: 16px;
  }

  .popup__body {
    padding: 0 15px 0;
  }

  .popup__footer {
    padding: 0 15px 0;
  }

  .popup__button-group {
    margin-top: 15px;
    width: 100%;
  }

  .popup__btn {
    font-size: 16px!important;
    width: 100%;
    padding: 15px 30px!important;
  }
  
  .popup__title {
    font-size: 14px;
  }
}