.popup__dialog {
  max-width: 630px;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup__body--confirm {
  display: flex;
  flex-direction: row;
}

.popup__icon--confirm {
  margin-right: 20px;
}

@media (max-width: 575px) {
  .popup__icon--confirm {
    display: none;
  }
}

.popup__header--confirm {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  color: #B7BADF;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.popup__footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.popup__footer--confirm {
  display: flex;
  justify-content: center;
}

.popup__label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF
}

.popup__label:first-of-type {
  margin-bottom: 7px;
}

.popup__link {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  transition: color .3s ease;
  border-bottom: 2px solid #B7BADF ;
}

.popup__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__link:hover {
  color: #FFFFFF;
  border-bottom: 2px solid #f05700;
}

.popup__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #B7BADF;
}

.popup__input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.popup__container {
  display: inline-block;
}

.popup__container--confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup__btn {
  font-size: 16px;
  line-height: 1;
  padding: 20px 30px;
}

.popup__btn--confirm {
  text-align: center;
}

.close {
  border: none;
  background: transparent;
  outline: none;
}

.close:active,
.close:hover {
  border: none;
  outline: none;
}

.ReactModal__Content {
  height: fit-content;
  padding: 30px 45px!important;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

@media (max-width: 768px) {
  .popup__title {
    font-size: 18px;
  }

  .ReactModal__Content {
    padding: 20px 30px!important;
  }

  .popup__input {
    margin-bottom: 20px!important;
  }
}

@media (max-width: 376px) {
  .ReactModal__Content {
    padding: 15px 20px!important;
  }

  .popup__label,
  .popup__link {
    font-size: 16px;
  }

  .popup__btn-group {
    margin-top: 15px;
    width: 100%;
  }

  .popup__btn {
    font-size: 16px;
    width: 100%;
    padding: 15px 30px!important;
  }
  
  .popup__btn--registration {
    font-size: 14px;
    padding: 15px 10px!important;
  }

  .popup__title {
    font-size: 14px;
  }
}