@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background: #272A33;
}

.input {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: #6C6E84;
  border: none;
  border-radius: unset;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.input::placeholder {
  color: #FFFFFF;
}

.input__wrong {
  box-shadow: 0 0 0 0.25rem rgb(250 0 0 / 30%);
}

.button {
  font-size: 18px;
  line-height: 1;
  padding: 20px 30px;
  color: #242632;
  background: #fff;
  border-radius: 0;
  border-color: #fff;
}