.button {
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  padding: 20px 30px;
  color: #242632;
  background: #fff;
  border: none;
  outline: none;
  transition: all .15s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #f05700;
  color: #fff;
  outline: none;
}

.button:active {
  background-color: #cc4a00;
  color: #fff;
}

.button:active,
.button:hover {
  outline: none;
}

.button--login {
  padding: 5px 10px;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  background: transparent;
  border: 1px solid #fff;
}

.button--login:hover,
.button--login:focus {
  border: 1px solid #f05700;
}

.button--login:active {
  border: 1px solid #cc4a00;
}

.button--registration {
  padding: 5px 10px;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: #000;
  text-transform: none;
  background: #fff;
  /* border: 1px solid #fff; */
}

@media (min-width: 768px) {
  .button {
    padding: 16px 25px;
  }
}

@media (min-width: 992px) {
  .button {
    padding: 20px 30px;
    font-size: 18px;
  }
  
  .button--banner {
    font-size: 24px;
  }

  .button--login {
    padding: 8px 16px;
    font-size: 18px;
  }

  .button--registration {
    padding: 8px 16px;
    font-size: 18px;
  }
}

@media (max-width: 1023px) {
  .button--login,
  .button--registration {
    width: 100%;
    padding: 18px 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    border: none;
    background-color: #3d3f51;
  }

  .button--login:hover {
    border: none;
  }
}