.button {
  line-height: 1;
  text-transform: uppercase;
  padding: 20px 30px;
  color: #242632;
  background: #fff;
  border: none;
  outline: none;
  transition: all .15s ease-in-out;
}

.button:hover {
  background-color: #b7badf;
  color: #242632;
}

.button:focus {
  outline: 3px solid #b7bad1;
}

.button:active {
  background-color: #6c6e84;
  color: #fff;
}

.button:active,
.button:hover {
  outline: none;
}